.card {
  background-color: #E2F1F0;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 390px;
  max-width: 360px;
  width: 90%;
}
.profile {
  margin-bottom: 20px;
  width: 100%;
}
.boxes{
  margin: 5px 0;
}
.profileIcon {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.profile h2 {
  font-size: 1rem;
  color: #333;
  margin: 0;
}
.profile p {
  font-size: 1rem;
  color: #333;
  margin: 5px 0;
}
.actions {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  margin-top: auto;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.actionBtn {
  background-color: #fb8c00;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}
.actionBtn:hover {
  background-color: #ffb74d;
}
.suspendBtn {
  padding: 8px 15px;
  font-size: 14px;
  color: white;
  background-color: #f44336;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}
.suspended {
  background-color: #f1c40f;
}
.editBtn {
  height: 40px;
  padding: 8px 15px;
  font-size: 14px;
  color: white;
  background-color: #4caf50;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.editBtn:hover {
  background-color: #388e3c;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.popupContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.confirmBtn,
.cancelBtn {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 5px;
}
.confirmBtn {
  background-color: #4caf50;
  color: white;
}
.cancelBtn {
  background-color: #f44336;
  color: white;
}
.input{
  height: 30px;
  width: auto;
  border-radius: 10px;
  padding-left: 10px;
}
.saveBtn{
  border-radius: 10px;
  height: 40px;
  width: 70px;
}