.navbar-container {
  width: 320px;
  background-color: #2b7a78;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  font-family: Arial, sans-serif;
  transition: width 0.3s ease-in-out;
}
.navbar-container.collapsed {
  width: 80px;
  transition: all 0.2s linear;
}
.toggleBtnInSideMenu {
  font-size: 1.6rem;
  padding: 1rem 0 0 0rem;
}
.toggleLogo {
  font-size: 1.4rem;
  cursor: pointer;
  margin-left: 5px;
  transition: transform 0.3s ease;
}
.toggleLogo.right-arrow {
  transform: rotate(0deg);
}
.toggleLogo.left-arrow {
  transform: rotate(180deg);
}
.swapna-logo {
  width: 150px;
  margin: 0 auto 20px;
  transition: opacity 0.3s ease-in-out;
}
.swapna-logo.hidden {
  opacity: 0;
}
.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
  width: 100%;
}
.menu-item:hover {
  background-color: #3a506b;
  border-radius: 8px;
}
.navbar-container.collapsed .menu-item {
  justify-content: center;
  gap: 0;
}
.navbar-container.collapsed .menu-item h1 {
  display: none;
}
.menu-item h1 {
  font-size: 16px;
  color: #fff;
  margin: 0;
  font-weight: normal;
}
.menu-item.active {
  background-color: #3a506b;
  border-radius: 8px;
}
.submenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.submenu-item {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.submenu-item:hover {
  background-color: #3a506b;
}
.submenu-item h1 {
  font-size: 16px;
  color: #fff;
  margin: 0;
}
.signOutBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.signOutBtn button {
  height: 40px;
  width: 150px;
  border-radius: 30px;
  background-color: rgba(220, 36, 36, 0.904);
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
@media print {
  .navbar-container {
    display: none !important;
  }
}
@media only screen and (max-width: 900px) {
  .navbar-container {
    width: 100%;
    background-color: #3aafa9;
    border: 2px solid black;
    border-radius: 0 0 2rem 2rem;
  }
  .bottomMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }
  .navbar-container.collapsed {
    border: none;
    box-shadow: none;
  }
  .navbar-container.collapsed .bottomMenu {
    width: 100%;
    position: relative;
    z-index: -999;
    opacity: 0;
    height: 0;
  }
  .menu-item{
    width: 30%;
  }
}
@media only screen and (max-width: 510px) {
  .menu-item {
    width: 50%;
  }
}
@media only screen and (max-width: 430px) {
  .menu-item {
    width: 60%;
  }
}
